<!DOCTYPE html>
  <head>
    <title>Prueba</title>
    <style>
      .link{
        text-decoration: none;
        font-size: 2em;
      }
    </style>
  </head>
  <body style="display: flex;width: 100vw;height: 100vh;flex-direction: column; margin: 0; padding: 0;">
    <header style="align-self: center;">
      <h1>Prueba</h1>
    </header>
    <main style="flex:1; align-items: center; justify-content: space-around; display: flex; flex-direction: column;">
        <a class="link" href="/estados">Estados</a>
        <a class="link" href="/tipo_asentaientos">Tipo de asentamientos</a>
        <a class="link" href="/municipios">Municipios</a>
        <a class="link" href="/colonias">Colonias</a>
    </main>
  </body>
</html>